@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&family=Poppins&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

.banner, .banner-2 {
    position: relative;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner::before {
    content: "";
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(16, 16, 32);
    opacity: 0.9;
}
.banner-2::before {
    content: "";
    background-image: url("https://images.unsplash.com/photo-1517737528656-b04c0992516a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGRhcmslMjByZXN0YXVyYW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(16, 16, 32);
    opacity: 0.9;
}
.banner-title {
    font-family: "DynaPuff", cursive;
}
.banner-text {
    position: relative;
    color: #ffffff;
    line-height: 0.9;
    text-align: center;
}

.scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

.scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 10px;
    border: 1px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
}

@media screen and (max-width: 640px) {
    .banner, .banner-2 {
        height: 30vh;
    }
    .scrollbar::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    .scrollbar {
        height: 20rem;
    }
}